section {
    background-color: var(--sec-black);
  }
  
  .copyright {
    color: #f1f1f1;
    font-family: "Noto Sans Syloti Nagri", sans-serif;
  }
  
  .copyright i {
    color: #eb1d36;
  }
  
  .copyright a {
    font-family: "Lobster", cursive;
    color: inherit;
    position: relative;
    transition: color 350ms;
    padding-left: 4px;
  }
  
  .copyright a:hover {
    color: #fecd70;
  }